DB_HOST_LOCAL    = 'localhost'
DB_USER_LOCAL    = 'ztf'
DB_PASS_LOCAL    = '{{ test.local_db_password }}'

DB_HOST_REMOTE   = '{{ test.master_db_ip }}'
DB_USER_REMOTE   = '{{ test.master_db_readonly_username }}'
DB_PASS_REMOTE   = '{{ test.master_db_readonly_password }}'

DB_DATABASE      = 'ztf'

SLACK_URL = 'https://hooks.slack.com/services/{{ test.slack_url_urlhook }}'

KAFKA_HOST       = '{{ test.kafka_producer }}:9092'

KAFKA_TOPIC_IN   = 'ztf_sherlock'

KAFKA_GROUPID    = 'LASAIR2'
KAFKA_PROCESSES  = 2
KAFKA_TIMEOUT    = 10
KAFKA_LASAIR_LOGS = '/mnt/cephfs/roy/streams/'
KAFKA_MAXALERTS  = 10000
WAIT_TIME        = 180
LOCKFILE         = '/home/ubuntu/lockfile'

KAFKA_PRODUCER   = 'kafka-pub:29092'
KAFKA_PASSWORD   = '{{ test.kafka_password }}'

WATCHLIST_MOCS      = '/mnt/cephfs/roy/watchlists'
WATCHLIST_CHUNK     = 50000
WATCHLIST_MAX_DEPTH = 13
AREA_MOCS           = '/mnt/cephfs/roy/areas'
AREA_MAX_DEPTH      = 13

GRAFANA_USERNAME = 'ztf'
GRAFANA_PASSWORD = '{{ test.grafana_password }}'
SYSTEM_STATUS       = '/mnt/cephfs/roy/system_status.json'
