logfile='/mnt/cephfs/lasair/services_log/'$(date +'%Y%m%d')'.log'
echo '\n-- dump annotations master at' $(date) >> $logfile
mysqldump -u root -p{{ settings.master_db_root_password }} --port={{ settings.master_db_port }} ztf annotations > /mnt/cephfs/lasair/annotations/annotations.sql
mysql -u root -p{{ settings.master_db_root_password }} --port={{ settings.master_db_port }} ztf -e 'select count(*) from annotations' >> $logfile
ls -l /mnt/cephfs/lasair/annotations/annotations.sql >> $logfile
