KAFKA_HOST      = 'kafka-pub:29092'
KAFKA_TIMEOUT   = 10
KAFKA_USERNAME  = 'admin'
KAFKA_PASSWORD  = '{{ settings.kafka_password }}'
GROUP_ID       = 'test124'

READWRITE_USER = 'ztf'
READWRITE_PASS = '{{ settings.master_db_password }}'
DB_HOST        = '{{ settings.master_db_ip }}'
DB_PORT        = 3306

#READWRITE_USER = 'ztf'
#READWRITE_PASS = 'ztf'
#DB_HOST        = '192.168.0.50'
#DB_PORT        = 9001

SYSTEM_STATUS       = '/mnt/cephfs/roy/system_status/status'
