KAFKA_HOST      = 'kafka-pub:29092'
KAFKA_TIMEOUT   = 10
KAFKA_USERNAME  = 'admin'
KAFKA_PASSWORD  = '{{ settings.kafka_password }}'

READWRITE_USER = 'ztf'
READWRITE_PASS = '{{ settings.master_db_password }}'
DB_HOST        = '{{ settings.master_db_ip }}'
DB_PORT        = 3306
DB_PORT        = 9001

GROUP_ID       = 'test124'

