-- 2022-03-25 KWS Removed code to update File_priv column. That's what the GRANT FILE command does.
--                Also you can't update this column directly in MariaDB 10.4. Additionally removed
--                superfluous %1 and replaced with %. Was this a typo??
-- 2022-03-25 KWS This file should NOT contain any passwords. These should be picked up from Vault.
--                Likewise user IDs and DB names should be variables in the Ansible script. Renamed
--                this file to a .j2 template and so it then gets created dynamically on the server
--                e.g. in /tmp/.
CREATE DATABASE IF NOT EXISTS {{ mysql_db_name }};
USE {{ mysql_db_name }};
CREATE USER IF NOT EXISTS '{{ mysql_db_user }}'@'localhost' IDENTIFIED BY '{{ mysql_db_password }}';
CREATE USER IF NOT EXISTS '{{ mysql_db_user }}'@'%' IDENTIFIED BY '{{ mysql_db_password }}';
GRANT ALL PRIVILEGES ON {{ mysql_db_name }}.* TO '{{ mysql_db_user }}'@'localhost';
GRANT FILE ON *.* TO '{{ mysql_db_user }}'@'localhost';
GRANT FILE ON *.* TO '{{ mysql_db_user }}'@'%';
CREATE USER IF NOT EXISTS '{{ msql_db_user_readonly }}'@'localhost' IDENTIFIED BY '{{ mysql_db_password_readonly }}';
CREATE USER IF NOT EXISTS '{{ msql_db_user_readonly }}'@'%' IDENTIFIED BY '{{ mysql_db_password_readonly }}';
GRANT SELECT ON {{ mysql_db_name }}.* TO '{{ msql_db_user_readonly }}'@'%';
DROP FUNCTION IF EXISTS jdnow;
CREATE FUNCTION jdnow () RETURNS DOUBLE DETERMINISTIC RETURN (unix_timestamp(now())/86400 + 2440587.5);
GRANT EXECUTE ON FUNCTION {{ mysql_db_name }}.jdnow TO '{{ msql_db_user_readonly }}'@'%';
